<form action="/prehistoric_creatures" method="get">
  <!-- for and the id attributes need to be the same -->
  <label for="nameFilter">Filter by name</label>
  <!-- if get then name is req.quary if its post  -->
  <input type="text" name="nameFilter" id="nameFilter">
  <button type="submit">Filter Results</button>
</form>

<ul>
  <% myCreature.forEach((creature, i) => { %>
    <li>
      <%= creature.type %>  
      <img src="<%= creature.img_url %> " alt="<%= creature.type %> ">
      <form action="/prehistoric_creatures/<%=i%>/?_method=DELETE" method="post">
        <button type="submit">Delete</button>
      </form>
    </li>
  <%  }) %> 
</ul>