<form action="/prehistoric_creatures" method="post">
  <!-- for att and id att in put whsould be the same  -->
  <div>
    <label for="dinosaurType">Type:</label>
    <input type="text" name="type" id="dinosaurType">
  </div>
  
  <div>
    <label for="dinosaurName">Image Link:</label>
    <input type="text" name="img_url" id="dinosaurName">
  </div>
  <button type="submit">Add A New Creature!</button>
</form>